@font-face {
    font-family: 'RF Rostin';
    src: url('../fonts/RFRostin-Regular.eot');
    src: url('../fonts/RFRostin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RFRostin-Regular.woff2') format('woff2'),
        url('../fonts/RFRostin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}